.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


.imageBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.image{
    width: 110%;
    height: auto;
    transform: rotate(8deg);
}

.inscriptionBlock{
    width: 35%;
}

@media screen and (max-width: 850px){
    .textsTitle{
        font-weight: 700;
        font-size: 50px;
    }

    .textsDescription{
        font-size: 15px;
    }

    .spanButton{
        font-size: 20px;
        font-weight: 600;
    }
}

@media screen and (max-width: 450px) {
    .content{
        flex-direction: column;
    }

    .inscriptionBlock{
        width: auto;
        height: 35%;
        text-align: center;
        margin-top: -100px;  
    }

    .playButton {
        margin-left: auto;
        margin-right: auto;
    }

    .spanButton{
        font-size: 17px;
        font-weight: 600;
    }

    .imageBlock {
        width: 90%;
        height: 40%;
        margin-top: 150px;
    }
}